<footer id="footer" class="text-white">
    <div class="footer-main">
        <div class="footer-about">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad esse hic veritatis. Possimus
                consectetur harum ducimus odit beatae quaerat molestiae velit, provident, tempora rerum
                maiores, praesentium recusandae fugit ullam. Id.</p>
        </div>
        <div class="footer-games">
            <h3>Games</h3>
            <p>Valorant</p>
            <p>CSGO</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
        </div>
        <div class="footer-contact">
            <h3>Contact us</h3>
            <a href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
        </div>
    </div>
    <hr>
    <div class="footer-copyright">
        <p>© 2023 All rights reserved | Ephirium</p>
    </div>
</footer>