<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&family=Monoton&family=Noto+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c5c15236b.js" crossorigin="anonymous"></script>

    <title>Ephirium</title>
</head>

<body>
    <%-include("hamburger")-%>
        <%-include("navbar")-%>

            <section id="background-home">
            </section>


            <section id="home" class="text-white">
                <h1>EPHIRIUM</h1>
                <p>Gaming Club of School of Engineering, JNU.</p>
                <a href="#intro">
                    <button type="button">Introduction<span style="font-size: 22px;">➔</span></button>
                </a>
            </section>


            <section id="intro">
                <div>
                    <h2 class="text-white">What Ephirium covers?</h2>
                    <div class="text-white intro-info">
                        <div>
                            <h3>E-sports</h3>
                            <hr>
                            <p>Thrilling tournaments and events to compete, rise through the ranks, and experience the
                                adrenaline rush of professional gaming.</p>
                        </div>
                        <div>
                            <h3>Game Development</h3>
                            <hr>
                            <p>Providing a platform for game developers to learn, collaborate and showcase their talent.
                            </p>
                        </div>
                        <div>
                            <h3>Casual Gaming</h3>
                            <hr>
                            <p>Embrace joy and relaxation with multiplayer adventures, co-op challenges, and casual
                                mobile
                                games.</p>
                        </div>
                        <div>
                            <h3>Community Support</h3>
                            <hr>
                            <p>Foster a welcoming and inclusive space for gamers to connect, share experiences, and form
                                lasting
                                friendships.</p>
                        </div>

                    </div>
                </div>
                <div>
                    <img class="intro-img" src="/images/intro.png" alt="">
                </div>

            </section>


            <section id="credits" class="text-white">
                <h2>Contributors</h2>
                <div class="credit-main">
                    <div class="credit-item credit-item-1">
                        <img class="credit-img" src="/images/sarthak.jpeg" alt="">
                        <hr>
                        <div>
                            <h3>Sarthak Agarwal</h3>
                            <p class="credit-role">Web Developer & Designer</p>
                        </div>
                        <div>
                            <a class="credit-links" href="https://www.instagram.com/its_sarthak_ag/" target="_blank"><i class="fa-brands fa-instagram"
                                    style="color: #ffffff;"></i></a>
                            <a class="credit-links" href="https://www.linkedin.com/in/sarthak-agarwal-ab6308245" target="_blank"><i class="fa-brands fa-linkedin"
                                    style="color: #ffffff;"></i></a>
                            <a class="credit-links" href="https://github.com/sarthakagarwal882" target="_blank"><i class="fa-brands fa-github"
                                    style="color: #ffffff;"></i></a>
                        </div>
                    </div>
                    <div class="credit-item credit-item-2">
                        <img class="credit-img" src="/images/sanwik.jpeg" alt="">
                        <hr>
                        <div>
                            <h3>Sanwik Sagar</h3>
                            <p class="credit-role">Web Designer</p>

                        </div>
                        <div>
                            <a class="credit-links" href="https://instagram.com/sanwiksagar" target="_blank"><i class="fa-brands fa-instagram"
                                    style="color: #ffffff;"></i></a>
                            <a class="credit-links" href="https://www.linkedin.com/in/sanwik-sagar-7ab180230" target="_blank"><i class="fa-brands fa-linkedin"
                                    style="color: #ffffff;"></i></a>
                            <a class="credit-links" href="https://github.com/SanwikSagar" target="_blank"><i class="fa-brands fa-github"
                                    style="color: #ffffff;"></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <hr class="text-white" style="opacity: 0.3;">

            <%-include("footer")-%>





                <!-- Scripts -->

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script src="index.js"></script>

</body>

</html>