<section id="navbar-main">
    <nav class="navbar sticky text-white">
        <div class="navbar-brand">
            <a href="" class="text-white">
                <h2>Ephirium</h2>
            </a>
        </div>
        <div class="hamburger">
            <div class="nav-items">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/">GAMES</a></li>
                    <li><a href="/">EVENTS</a></li>
                    <li><a href="/">OUR TEAM</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>