<section id="navbar-main">
    <nav class="navbar sticky text-white">
        <div class="navbar-brand">
            <a href="" class="text-white">
                <h2>Ephirium</h2>
            </a>
        </div>
        <div class="hamburger">
            <div class="nav-items">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/games">GAMES</a></li>
                    <li><a href="/events">EVENTS</a></li>
                    <li><a href="/team">OUR TEAM</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>