* {
    margin: 0px;
    padding: 0px;
    font-family: 'Carlito', sans-serif;
    scroll-behavior: smooth;
    transition: ease-in-ou;

}

.text-white {
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    background-color: #000000;
}


input[type="checkbox"],
.hamburger-lines {
    display: none;
}

.bg-black {
    background-color: #000000 !important;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 95vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 45px;
    height: 3vmax;
    background-color: transparent;
    transition: 0.25s;
    -webkit-transition: background 0.25s;
    z-index: 100;
}



.navbar h2 {
    font-size: 2.2rem;
}

.nav-items ul {
    display: flex;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.nav-items ul li {
    list-style: none;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    border-spacing: 50px;
    font-size: 15px;
    font-weight: 400;
}
.nav-li{
    transition: 0.25s;
}
.nav-li:hover{
    transform: scale(1.3, 1.3);
    opacity: 1;
}
.nav-li a{
    cursor: pointer;
}

.nav-items ul li a {
    padding: 5px;
    position: relative;
    font-size: 1.05rem;
    opacity: 0.9;
}


#background-home {
    overflow: hidden;

    background:
        linear-gradient(180deg, rgba(64, 109, 108, 0) 68%, rgba(0, 0, 0, 0.8576680672268908) 99%),
        url('/images/pc.jpg') no-repeat;

    width: 98.9vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(0px);
    -webkit-filter: blur(0.3px);
    opacity: 0.5;
}

#home {
    height: 83vh;
    text-align: center;
    width: 98.9vw;

}

#home h1 {
    font-weight: 700;
    font-size: 7rem;
    margin: 9vw auto 0;
    text-shadow: 0 0 10px;
    opacity: 0.94;
    z-index: 0;
    position: relative;
    z-index: -1;

}

#home p {
    margin: 9vmax auto 70px;
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    text-shadow: 0 0 7px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;

}

#home button {
    margin: 2.3vw 30px 0;
    width: 12.3vmax;
    height: 2.9vmax;
    font-size: 1.6rem;
    border: #26b099 solid 3px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
    color: #6ECCAF;
    border-radius: 8px;
}

#home button:hover {
    /* background-color: #0b9f69; */
    border: #37dab7 solid 3px;
    color: white;
    text-shadow: 0 0 2px;
    box-shadow: 0 0 7px 0.3px white;
    transform: scale(1.2, 1.2);
    font-weight: 400;
}



#intro {
    display: flex;
    justify-content: space-around;
    padding: 7vmax 0 0;
    background: rgb(64, 109, 108);
    background: linear-gradient(304deg, rgba(64, 109, 108, 0.7988445378151261) 0%, rgba(0, 0, 0, 0.6559873949579832) 51%);
    height: 87vh;
}

.intro-img {
    width: 35vmax;
    margin: 1vh 0 0;
}

.intro-info {
    width: 45vmax;
    display: grid;
    grid-template-columns: auto auto;
    margin: 3.6vmax 0 0;
}

.intro-info div {
    margin: 3vmax 0 0;
}

.intro-info div h3 {
    font-size: 2rem;
}

.intro-info div hr {
    width: 10vmax;
    margin-top: 0.3vmax;
}

.intro-info div p {
    margin: 1vmax 0 0;
    width: 20vmax;
    font-size: 1.2rem;
    opacity: 0.8;
}

#intro h2 {
    font-weight: 700;
    font-size: 4.6rem;
    display: block;
}

#credits {
    background: rgb(14, 8, 8);
    background: linear-gradient(38deg, rgba(14, 8, 8, 1) 29%, rgba(12, 46, 23, 0.5159313725490196) 72%, rgba(44, 75, 79, 1) 100%);
    text-align: center;
    /* height: 100vh; */
    padding: 0 0 5vmax 0;
}

#credits h2 {
    padding: 6vmax 0 0 0;
    font-size: 5rem;
}

.credit-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 2.3vw auto;
    justify-content: space-evenly;

}

.credit-item {
    width: 23vw;
    height: 32vw;
}

.credit-item-1 {
    background-color: #57857963;
    padding: 20px;
    border-radius: 2%;
}

.credit-item-2 {
    background-color: rgba(171, 170, 170, 0.66);
    padding: 35px 20px 0;
    border-radius: 2%;
}

.credit-img {
    width: 18vw;
    border-radius: 50%;
    margin: 1.5vw auto 0.3vw;
    border: #d8940d 2.5px solid;
}

.credit-item hr {
    width: 80%;
    margin: auto;
}

.credit-item h3 {
    font-size: 3rem;

}

.credit-item p {
    width: 60%;
    margin: auto;
    font-size: 1.4rem;
}

.credit-role {
    /* opacity: 0; */
    font-size: 1.4rem;
    padding: 10px 0 5px 0;
    /* color: #b4f7d9; */
    opacity: 0.5;

}

.credit-links {
    margin: 9px;
}

.credit-links i {
    width: 30px;
    font-size: 2rem;
    transition: 0.25s ease-in-out ;
}
.credit-links i:hover {
transform: scale(1.2);

}

#footer {
    margin: auto;
    padding: 4vmax;
    /* width: 80vmax; */
    background-color: #181818;
}

.footer-main {
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-about {
    width: 25vmax;
}

.footer-about h3 {
    font-size: 2.5rem;
}

.footer-about p {
    opacity: 0.7;
    font-size: 1.15rem;
    margin: 1.5vmax 0 0 0;
}

.footer-games h3 {
    font-size: 2.5rem;
    margin: 0 0 1.2vmax 0;
}

.footer-games p {
    opacity: 0.8;
    font-size: 1.41rem;
    margin: 4px 0 0 4.4px;
}

#footer hr {
    margin: 2.2vmax auto 0;
    width: 83%;
}

.footer-copyright p {
    margin: 1% 0 0 8.5%;

}

.footer-contact {
    margin: 0 3px 0 0;
}

.footer-contact h3 {
    font-size: 2.3rem;
}
.footer-contact div{
padding: 0 1.1vmax;
}

.footer-contact a i {
    margin: 1.2vmax 5px 0;
    width: 35px;
    font-size: 1.6rem;
    transition: 0.25s ease-in-out;
}

.footer-contact a i:hover {
    transform: scale(1.2);
}

@media (max-width:900px) {

    .navbar {
        padding: 1.6vmax 3.5vmax 1vmax;
        margin-top: 0;
        height: 6.75vmax;
        z-index: 100;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items {
        transform: translate(-200vw);
        transition: transform 0.5s ease-in-out;
        background-color: black;
        opacity: 0.9;
        height: 90vh;
        width: 100vw;
        padding-top: 10vh;
        margin-top: -20px;
        z-index: 3;
    }

    .nav-items ul li {
        list-style: none;
        padding: 5px 20px 5px 20px;
        margin: 20px 20px 20px 20px;
        border-spacing: 50px;
        font-size: 15px;
        font-weight: 400;
        opacity: 1;
    }

    .nav-items ul li a {
        font-size: 1.2rem;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }


    #background-home {
        background:
            linear-gradient(180deg, rgba(64, 109, 108, 0) 68%, rgba(0, 0, 0, 0.8352591036414566) 99%),
            url('/images/mobile.jpg') no-repeat center;
        /* background: url("/images/mobile.jpg") no-repeat center center; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100vw;
    }

    #home {
        max-width: 100vw;
        width: 100%;
        text-align: center;
        height: 100vh;
    }

    #home h1 {
        font-size: 4.4rem;
        margin: 0;
        padding: 22vh 0 0;
        text-align: center;
        text-shadow: 0 0 10px;
    }

    #home p {
        margin: 15vh auto 0;
        text-align: center;
    }

    #home button {
        margin: 12vmax 0 0;
        width: 25vmax;
        height: 6vmax;
    }

    .hamburger {
        width: 10vw;
    }


    .nav-input[type="checkbox"] {
        height: 29px;
        width: 39px;
        cursor: pointer;
        z-index: 103;
        opacity: 0;
    }

    .nav-input[type="checkbox"],
    .hamburger-lines {
        display: block;
        position: fixed;
        left: 85%;
        top: 3%;
    }

    .hamburger-lines {
        height: 25px;
        width: 39px;
        z-index: 102;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 95%;
        border-radius: 10px;
        background: #fbfbfb;
    }

    .hamburger-lines .line-1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .hamburger-lines .line-2 {
        transition: transform 0.2s ease-in-out;
    }

    .hamburger-lines .line-3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-input[type="checkbox"]:checked~#background-home .background-img {
        filter: blur(10px);
    }

    .nav-input[type="checkbox"]:checked~section .navbar .nav-items {
        transform: translate(-93vw);
        z-index: -10;
    }

    .nav-input[type="checkbox"]:checked~.hamburger-lines .line-1 {
        transform: rotate(37deg);
    }

    .nav-input[type="checkbox"]:checked~.hamburger-lines .line-2 {
        transform: scaleY(0);
    }

    .nav-input[type="checkbox"]:checked~.hamburger-lines .line-3 {
        transform: rotate(-37deg);
    }

    .hamburger {
        position: relative;
        display: inline;
    }

    #intro {
        flex-direction: column;
        height: 138vh;
        width: 100vw;
        align-items: center;
        position: relative;
        z-index: -1;

    }

    #intro h2 {
        font-size: 12vw;
        margin: 5.3vmax 4vw 0;
        justify-content: center;
        padding: 2vmax 3vmax 0;
    }

    .intro-info {
        grid-template-columns: auto;
        width: 100vw;
        justify-content: center;
        margin: 0vmax 0 0 0;
    }

    .intro-info div {
        margin: 1.5vmax 0 0.3vmax 0;
    }

    .intro-info div p {
        width: 75vw;
        font-size: 1.1rem;
    }

    .intro-info div h3 {
        font-size: 1.8rem;
    }

    #credits h2 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .credit-main {
        flex-direction: column;
    }

    .credit-item {
        width: 60vw;
        margin: 20px auto;
        height: 45vh;
    }

    .credit-item h3 {
        font-size: 1.8rem;
    }

    .credit-img {
        width: 20vmax;
    }

    .credit-item hr {
        margin: 13px auto 5px;
    }

    .credit-item p {
        margin: -3px auto 20px;
        font-size: 1.13rem;
    }


    #footer {
        margin: auto;
        padding: 4vmax 2vmax;
        background-color: #181818;
    }
    
    .footer-main {
        flex-direction: column;
        padding: 0 5vmax;
    }
    
    .footer-about {
        width: 75vw;
        margin: 0 0 4vmax 0;
    }
    
    .footer-about h3 {
        font-size: 2.5rem;
    }
    
    .footer-about p {

        opacity: 0.7;
        font-size: 1.15rem;
        margin: 1.5vmax 0 0 0;
    }

    
    .footer-games p {
        margin: 6px 0 0 4.4px;
    }
    
    #footer hr {
        margin: 4vmax auto 0;
        width: 83%;
    }
    
    .footer-contact {
        margin: 4vmax 3px 0 0;
    }

    }
    
 